.footer{
  inline-size: 100%;
  background-color: var(--Dark-Blue-footer-background);
  padding-top: 5.1875rem;
  padding-bottom: 3.25rem;

  @include desktop{
    padding-top: 12.5625rem;
  }

  &__wrapper{
    inline-size: 100%;
    max-inline-size: 77.5rem;
    gap: 2.1875rem;
    padding-inline: 1.5rem;

    @include desktop {
      gap: 3.25rem;
      
    }
  }

  &__logo{
    inline-size: 100%;
    display: flex;
    justify-content: flex-start;
    block-size: 3rem;

    img{
      block-size: 3rem;
    }
  }

  &__cards{
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include desktop{
 
      flex-direction: row;
      gap: 6.25rem;
      
    }
  }

  &__cards__card{

    ul{
      display: grid;
      gap: 1rem;
    }
    a{
      white-space: nowrap;

      &:hover{
        font-weight: 700;
      }
    }

    &:first-of-type, &:nth-child(2) li{
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 1.5rem;
      align-items: flex-start;

      p{
        max-inline-size: 40ch;
        font-size: 1rem;
        line-height: 24px;
      }
    }

    &:nth-child(2){
      @include mobile{
        margin-top: -2rem;
      }
    }
    
  }

  .socials{
    min-inline-size: 14ch;

    @include mobile{
      align-self: center;
    }
    
    a{
      display: inline-flex;
      align-items: center;
      justify-content: center;

      block-size: 32px;
      inline-size: 32px;
      border-radius: 100%;
      border: 1px solid white;
      margin-right: 5px;
      transition: all 300ms ease;

      &:hover{
        border-color: var(--Cyan-inside-calltoaction-gradient);

        i{
          color: var(--Cyan-inside-calltoaction-gradient);
        }
      }
    }
  }
}